.runposition
    .container
        h3
            span 13 000
            | ходовых позиций всегда в наличии

        .runposition__img
            .runposition__img-item
                picture
                    img(src="img/runpos-1.png" alt="runposition")

                div
                    b 141 000
                    span Позиций в грузовом
                        br
                        | ассортименте
                    a.btn
                        span Подробнее

            .runposition__img-item
                picture
                    img(src="img/runpos-2.png" alt="runposition")

                div
                    b 1 200
                    span Позиций в грузовом
                        br
                        | ассортименте
                    a.btn
                        span Подробнее

        .runposition__grid
            //1
            .runposition__grid-item
                picture
                    img(src="img/img-1.png" img="IMG")

                span Грузовики
                    br
                    | большой 7-ки

                img(src="img/group-1.png" alt="IMG")

            //2
            .runposition__grid-item
                picture
                    img(src="img/img-2.png" img="IMG")

                span Прицепы
                    br
                    | и полуприцепы

                img(src="img/group-2.png" alt="IMG")

            //3
            .runposition__grid-item
                picture
                    img(src="img/img-3.png" img="IMG")

                span Техника,
                    br
                    | оборудованная
                    br
                    | осями

                img(src="img/group-3.png" alt="IMG")

            //4
            .runposition__grid-item
                picture
                    img(src="img/img-4.png" img="IMG")

                span 80% европейского
                    br
                    | и российского
                    br
                    | автопарка

                img(src="img/group-4.png" alt="IMG")

            //5
            .runposition__grid-item
                picture
                    img(src="img/img-5.png" img="IMG")

                span Легкий
                    br
                    | коммерческий
                    br
                    | транспорт (LCV)

                img(src="img/group-5.png" alt="IMG")

        .runposition__logos
            .runposition__logo
                img(src="img/logo.png" alt="IMG")

            .runposition__list
                .runposition__list-item
                    h3
                        span Эксклюзивный
                        | дистрибьютор
                    img(src="img/list-img-1.png" alt="IMG")

                .runposition__list-item
                    h3
                        span Ключевой
                        | дистрибьютор
                    img(src="img/list-img-2.png" alt="IMG")
