.detail
    .container
        .detail__head
            h2.hash # ВАЖНА КАЖДАЯ ДЕТАЛЬ
            p.max когда речь идет о вашем бизнесе
        
        .detail__content
            img(src="img/detail.png", alt="deatail")
            p.max Хотите обсудить индивидуальные условия? Звоните!