header.header
    .container
        h1 Ваш надежный
            br
            | поставщик
            br
            | запчастей

        ul
            li
                span О нас
            li
                span Почему клиенты выбирают нас?
            li
                span Доставка
            li
                span Ассортимент
            li
                span Склады
            li
                span Отзывы
