.toorder.makemoney
    .makemoney__img
        .container
            img(src="img/toorder.png" alt="gift")
    .makemoney__wrap
        .container
            .makemoney__content
                .makemoney__head
                    h2 Удобно и быстро заказать запчасти
                    p Наш быстрый интернет-магазин с разными формами подбора сэкономит время

                .makemoney__ul
                    img(src="img/line.png" alt="IMG")

                    ul
                        li
                            picture
                                img(src="img/tracking.svg" alt="IMG")
                            span Удобный
                                br
                                | подбор

                        li
                            picture
                                img(src="img/contact.svg" alt="IMG")
                            span Быстрое оформление
                                br
                                | заказа

                        li
                            picture
                                img(src="img/fast-delivery.svg" alt="IMG")
                            span Сбор заказа
                                br
                                | на складе
                                br
                                | max 10 минут

                        li
                            picture
                                img(src="img/free.svg" alt="IMG")
                            span Бесплатная
                                br
                                | доставка или
                                br
                                | самовывоз

