.makemoney
  .makemoney__img
    .container
      img(src="img/gifts.png" srcset="img/gifts.png 2x" alt="gift")
  .makemoney__wrap
    .container
      .makemoney__content
        .makemoney__head
          h2 Хотите зарабатывать с нами?
          p Своим партнерам мы предлагаем максимум выгод для ведения успешного бизнеса

        .makemoney__ul
          img(src="img/line.png" alt="IMG")

          ul
            li
              picture
                img(src="img/moneyico.svg" alt="IMG")
              span Скидки
                br
                | за объем
                br
                | и предоплату

            li
              picture
                img(src="img/number-card.svg" alt="IMG")
              span Программы
                br
                | лояльности

            li
              picture
                img(src="img/trolley.svg" alt="IMG")
              span Скидки
                br
                | за расширения
                br
                | ассортимента

            li
              picture
                img(src="img/gift.svg" alt="IMG")
              span Розыгрыши
                br
                | ценных
                br
                | призов

