.wehelp
    .wehelp__wrap.container
        h2 Помогаем зарабатывать на грузовых
            br
            | запчастях уже 17 лет
        .wehelp__text
            span За это время...
            ul
                li
                    b 45%
                    span наших постоянных партнеров
                        br
                        | увеличили объемы бизнеса в 2-3 раза

                li
                    b +30%
                    span новых
                        br
                        | партнеров

            img(src="img/wehelp.png" alt="wehelp")

