.region {
  background-color: #f1f2f5;
  background: #f1f2f5 url("../img/hears-single.svg") left top no-repeat;
  background-size: 436px;
  background-position: -7.7% 8%;
  overflow: hidden;

  &__head {
    text-align: center;
    padding-top: 86px;

    h2 {
      margin-bottom: 8px;
      position: relative;
      z-index: 2;
    }

    p {
      margin-bottom: 0;
      position: relative;
      z-index: 2;
    }
  }

  &__content {
    background: url("../img/regions.png") center center no-repeat;
    background-size: cover;
    //margin-top: -40px;

    h2 {

    }
  }

  &__map {
    position: absolute;
    top: 28%;
    right: -95px;
    width: 682px;
  }

  &__wrap {
    color: #fff;
    padding-top: 300px;
    padding-bottom: 255px;
    position: relative;

    h2 {
      margin-bottom: 123px;
    }

    > ul {
      list-style: none;

      > li {
        position: relative;
        padding-left: 67px;
        margin-bottom: 37px;

        svg {
          width: 32px;
          height: 32px;
          fill: #fff;
          position: absolute;
          top: 0;
          left: 0;
        }

        b {
          font-size: 24px;
          letter-spacing: 0.55px;
          display: block;
          margin-bottom: 8px;
        }

        p {
          font-size: 18px;
          line-height: 1.3;
        }

        ul {
          list-style: none;
          margin-bottom: 10px;

          li {
            font-size: 18px;
            position: relative;
            padding-left: 25px;
            margin-bottom: 3px;

            &:before {
              content: "";
              width: 7px;
              height: 7px;
              display: block;
              border-radius: 100%;
              background-color: #fff;
              position: absolute;
              top: 5px;
              left: 9px;
            }
          }
        }
      }
    }
  }

  &__aside {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: -129px;
    margin-right: 4px;

    &-item {
      display: flex;
      align-items: flex-end;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      b {
        font-size: 87px;
        line-height: 1;
      }

      span {
        display: block;
        width: 200px;
        font-size: 18px;
        box-sizing: border-box;
        padding-left: 14px;
        padding-bottom: 10px;
        line-height: 1.3;
      }
    }
  }

  &__bottom {
    margin-top: 34px;

    ul {
      list-style-position: inside;

      li {
        font-style: italic;
        font-size: 18px;
        margin-bottom: 4px;

        &::marker {
          margin-right: 10px;
        }
      }
    }
  }
}