.region
    .container
        .region__head
            h2.hash # Увеличивайте прибыль
            p.max с качественной продукцией по доступной цене

    .region__content
        .container
            .region__wrap
                img.region__map(src="img/map.png" alt="Map")

                h2.white Выбирайте ближайший региональный склад

                ul
                    li
                        +svg("comercial")
                        b Единая информационная база складских запасов
                        p Формируйте заказы не только из наличия
                            br
                            | на ближайшем региональном складе

                    li
                        +svg("video")
                        b Видеофиксация на складах
                        p Легко решайте спорные моменты
                            br
                            | по качеству сборки заказов

                    li
                        +svg("transportation")
                        b Современная техника для сборки заказов
                        ul
                            li Высотные подборщики
                            li Штабелеры
                            li Ричтраки
                        p Тратьте меньше времени на ожидание сборки заказов

                    li
                        +svg("package")
                        b Разные типы упаковки
                        p Не волнуйтесь о сохранности даже
                            br
                            | самых хрупких товаров

                .region__aside
                    .region__aside-item
                        b 10
                        span минут максимальное
                            br
                            | время сборки Вашего
                            br
                            | заказа на складе

                    .region__aside-item
                        b 10
                        span складов
                            br
                            | по всей России

                .region__bottom
                    ul
                        li Многоярусное стеллажное хранение
                        li Высота хранения до 12 м
