.region.freedeliv
    .region__content
        .container
            .region__wrap
                h2.white 99,9% заказов в 2020 году
                    br
                    | мы доставили точно в срок
                p Сегодня мы уверенно входим в ТОП-5 федеральных
                    br
                    | дистрибьюторов грузовых запчастей России

                ul
                    li
                        img(src="img/freedeliv.png" alt="IMG")
                        b Бесплатная доставка
                        p Доставим ваш заказ в любой регион России,
                            br
                            | Беларусь, Киргизию, Казахстан, Армению

                    li
                        img(src="img/samovivz.png" alt="IMG")
                        b Самовывоз 7 дней в неделю
                        p Без обедов и перерывов

                    li
                        img(src="img/zabzakaz.png" alt="IMG")
                        b Забирайте заказ, когда вам удобно*

                    li
                        img(src="img/deliv4.png" alt="IMG")
                        b Доставка по городу до 4 раз в день
                        p В городах присутствия складов,
                            br
                            | подстраиваемся под вашего клиента

                .region__aside
                    .region__aside-item
                        b 1 млн
                        span заказов в год,
                            br
                            | доставленных вовремя

                    .region__aside-item
                        b 35 000
                        span маршрутов бесплатной
                            br
                            | доставки в год

                    .region__aside-item
                        b 185
                        span городов
                            br
                            | и страны СНГ

                .region__bottom
                    ul.notdot
                        li *График и условия доставки, а также режим работы складов
                            br
                            | в вашем регионе уточняйте на сайте Корона Авто

