extends layouts/default
include helpers/mixins

block variables
	- const title = "korona avto"

block content
	include ../blocks/modules/region/region
	include ../blocks/modules/parteners/parteners
	include ../blocks/modules/makemoney/makemoney
	include ../blocks/modules/detail/detail

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
