.partnersrisk
    .container
        h2 Наши партнеры рискуют меньше

        .partnersrisk__grid
            .partnersrisk__item
                picture
                    img(src="img/mob-gift.svg" alt="mob-gift")
                span Широкий ассортимент
                .quote
                    span Сложно выбрать оптимальное соотношение цены/качества?

                blockquote
                    p Поможе сформировать складской
                        br
                        | запас и подобрать по доступной цене
                        br
                        | позиции, на которые всегда есть спрос

            .partnersrisk__item
                picture
                    img(src="img/money.svg" alt="money")
                span Выгодная цена
                .quote
                    span Сравниваете цены поставщиков, чтобы заказать выгодно?

                blockquote
                    p Найдете дешевле — звоните.
                        br
                        | Предложим условия лучше!
                        br
                        |У нас лучшие цены на продукцию
                        br
                        | наших эксклюзивных торговых марок
                    img(src="img/quote-img.png" alt="quote-img")

            .partnersrisk__item
                picture
                    img(src="img/cargo.svg" alt="cargo")
                span Обратный выкуп

                .quote
                    span Переживаете, что товар «зависнет на складе»?

                blockquote
                    p Рассмотрим возможность
                        br
                        | обратного выкупа

            .partnersrisk__item
                picture
                    img(src="img/gift-check.svg" alt="gift-check")
                span Постоянное наличие

                .quote
                    span Работаете «под заказ»?

                blockquote
                    p Ходовые позиции всегда
                        br
                        | в наличии, в т.ч. в регионах

            .partnersrisk__item
                picture
                    img(src="img/shipping.svg" alt="shipping")
                span Быстрая доставка

                .quote
                    span Товар нужен «здесь и сейчас?» Нет времени ждать?

                blockquote
                    p Доставим бесплатно и
                        br
                        | точно в срок

            .partnersrisk__item
                picture
                    img(src="img/debit.svg" alt="debit")
                span Отсрочка платежа

                .quote
                    span Удобнее работать «под реализацию»?

                blockquote
                    p Обсудим индивидуальные условия
                        br
                        | отсрочки

            .partnersrisk__item
                picture
                    img(src="img/number-card.svg" alt="number-card")
                span Персональные скидки

                .quote
                    span Хотите закупать дешевле? И зарабатывать больше?

                blockquote
                    p Расскажем об индивидуальных
                        br
                        | скидках и спецпредложениях

            .partnersrisk__item
                picture
                    img(src="img/reward.svg" alt="reward")
                span Гарантии качества

                .quote
                    span Опасаетесь приобрести некачественный товар?

                blockquote
                    p Даем одни из лучших условий по гарантии
                        br
                        | — 2 года. Ответ на обращения — в течение
                        br
                        | 1 рабочего дня

            .partnersrisk__item
                picture
                    img(src="img/gift.svg" alt="gift")
                span Маркетинговая поддержка

                .quote
                    span Тратите деньги на рекламу?

                blockquote
                    p Обеспечим наличие рекламной продукции
                        br
                        | наших брендов бесплатно


