.parteners
  .container
    .parteners__head
      h2 О нас говорят цифры и парнеры
      p Зарабатывайте с нами и увеличивайте прибыль

  img.parteners__img(src="./img/gears.svg" alt="IMG")

  .pslider.swiper-container
    .swiper-wrapper
      .swiper-slide
        .pslider-item
          picture
            img(src="img/user.png" alt="IMG")

          .pslider-item__user
            .pslider-item__head
              b АЛЕКСЕЙ КАЛЯГИН
              em 18.09.2019

            span Компания: ООО «УНИПАРТС»
              br
              | Партнер Корона Авто: с мая 2015 г.
              br
              | Город: Нижний Новгород
          .pslider-item__text
            p Ассортимент Корона Авто постоянно обновляется и расширяется, о чем  всегда информируют. Очень быстрая доставка! Квалифицированные менеджеры, всегда готовы дать ответ на интересующие вопросы.



      .swiper-slide
        .pslider-item
          picture
            img(src="img/user.png" alt="IMG")

          .pslider-item__user
            .pslider-item__head
              b АЛЕКСЕЙ КАЛЯГИН
              em 18.09.2019

            span Компания: ООО «УНИПАРТС»
              br
              | Партнер Корона Авто: с мая 2015 г.
              br
              | Город: Нижний Новгород
          .pslider-item__text
            p Ассортимент Корона Авто постоянно обновляется и расширяется, о чем  всегда информируют. Очень быстрая доставка! Квалифицированные менеджеры, всегда готовы дать ответ на интересующие вопросы.

      .swiper-slide
        .pslider-item
          picture
            img(src="img/user.png" alt="IMG")

          .pslider-item__user
            .pslider-item__head
              b АЛЕКСЕЙ КАЛЯГИН
              em 18.09.2019

            span Компания: ООО «УНИПАРТС»
              br
              | Партнер Корона Авто: с мая 2015 г.
              br
              | Город: Нижний Новгород
          .pslider-item__text
            p Ассортимент Корона Авто постоянно обновляется и расширяется, о чем  всегда информируют. Очень быстрая доставка! Квалифицированные менеджеры, всегда готовы дать ответ на интересующие вопросы.

    .swiper-button-prev
    .swiper-button-next

