.parteners {
  background-color: #f1f2f5;
  padding-bottom: 179px;
  position: relative;

  &__head {
    margin-bottom: 53px;

    h2 {
      margin-bottom: 21px;
    }

    p {
      font-size: 20px;
      color: $blackL;
      letter-spacing: 0.4px;
    }
  }

  &__img {
    width: 166px;
    position: absolute;
    top: 117px;
    right: 435px;
  }
}

.pslider {

  &.swiper-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .swiper-slide {
    width: 892px;
    background-color: #fff;
    border-radius: 64px;
    box-shadow: 0 0 25.81px 3.19px rgba(0, 0, 0, 0.05);
    margin: 0 116px;
  }

  &-item {
    display: flex;
    flex-wrap: wrap;
    //align-items: center;

    padding-left: 54px;
    padding-top: 39px;
    padding-right: 50px;
    padding-bottom: 26px;

    picture {
      width: 137px;
      height: 137px;
    }

    &__user {
      width: calc(100% - 137px);
      padding-left: 42px;
      box-sizing: border-box;
      padding-top: 16px;

      span {
        font-size: 18px;
        color: $silverD;
        line-height: 24px;
        letter-spacing: 0.4px;
      }
    }

    &__head {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 22px;
      margin-bottom: 12px;

      b {
        padding-right: 20px;
        font-size: 20px;
        font-weight: bold;
        color: $blue;
        letter-spacing: 0.6px;
      }

      em {
        font-weight: bold;
        font-size: 20px;
        font-style: normal;
        color: $silverD;
        letter-spacing: 0.4px;
      }
    }

    &__text {
      margin-top: 40px;
      padding-left: 90px;
      position: relative;

      &:after {
        content: "";
        width: 112px;
        height: 90px;
        position: absolute;
        left: -2px;
        top: -2px;
        display: block;
        background: url("../img/quote.svg") center center no-repeat;
        background-size: contain;
      }

      p {
        font-size: 20px;
        color: $blackL;
        letter-spacing: 0.2px;
      }
    }
  }

  .swiper-button-next, .swiper-button-prev {
    width: 55px;
    height: 80px;
    z-index: 10;
    margin: 0;
    transform: translateY(-50%);
    transition: .2s;

    &:hover {
      transform: translateY(-50%) scale(1.1);
    }

    &:after {
      display: none;
    }

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background: url("../img/arrow.png") center center no-repeat;
    }
  }

  .swiper-button-next {
    right: calc(50% - 546px);

    &:before {
      transform: rotate(180deg);
    }
  }

  .swiper-button-prev {
    left: inherit;
    left: calc(50% - 546px);
  }
}